 <!-- Navigation Section -->
       <nav>
        <!-- <ul>
            <li><a href="#home" class="nav-link active" data-category="home">Home</a></li>
            <li><a href="#custom" class="nav-link" data-category="custom">Custom</a></li>
            <li><a href="#sedan" class="nav-link" data-category="sedan">Sedan</a></li>
            <li><a href="#sport" class="nav-link" data-category="sport">Sport</a></li>
            <li><a href="#suv" class="nav-link" data-category="suv">SUV</a></li>
            <li><a href="#truck" class="nav-link" data-category="truck">Truck</a></li>
         </ul> -->
                    <%- nav %>
    </nav>